
<%= form_for [@form, @form_element], :html => { :class => 'form-horizontal'}  do |f| %>
	<div class="form-group">
		<%= f.label "Title", :class => 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.select :component_type, FormElement.component_types, :class => 'form-control' %>
		</div>
	</div>

	<div class="form-group">
		<%= f.label "Key", :class => 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :key, :class => 'form-control' %>
		</div>
	</div>

  <div class="form-group">
		<%= f.label "Label", :class => 'col-sm-2 control-label' %>
		<div class="col-sm-10">
			<%= f.text_field :label, :class => 'form-control' %>
		</div>
	</div>

  <div class="form-group">
    <%= f.label "Placeholders", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :field_placeholder, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Tooltip", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :tooltip, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Description", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
  </div>

	<div id="key_value_pair_select">
		<div class="form-group">
			<%= f.label "Datasets", :class => 'col-sm-2 control-label' %>
			<div class="col-sm-4">
				<input type="text" name="form_element[datasets][values][][label]" class="form-control" placeholder="Label" />
			</div>
			<div class="col-sm-4">
				<input type="text" name="form_element[datasets][values][][value]" class="form-control" placeholder="Value" />
			</div>
			<!-- <div class="col-sm-2">
				<a href="javascript:void(0)" onclick='return addNewKeyValue("sample-key-value-pair-select")' class='btn btn-success' ><span class="fa fa-plus fa-fw"></span> <%= t('button.add') %></a>
			</div> -->
		</div>

		<div class="form-group" id='sample-key-value-pair-select'>
			<%= f.label " ", :class => 'col-sm-2 control-label' %>
			<div class="col-sm-4">
				<input type="text" name="form_element[datasets][values][][label]" class="form-control" placeholder="Label" />
			</div>
			<div class="col-sm-4">
				<input type="text" name="form_element[datasets][values][][value]" class="form-control" placeholder="Value" />
			</div>
			<div class="col-sm-2">
				<a href="javascript:void(0)" onclick='return addNewKeyValue("sample-key-value-pair-select", "sample-key-value-pair-select")' class='btn btn-success' ><span class="fa fa-plus fa-fw"></span> <%= t('button.add') %></a>
			</div>
		</div>
	</div>

	<div id="key_value_pair_radio">
		<div class="form-group">
			<%= f.label "Datasets", :class => 'col-sm-2 control-label' %>
			<div class="col-sm-4">
				<input type="text" name="form_element[values][][label]" class="form-control" placeholder="Label" />
			</div>
			<div class="col-sm-4">
				<input type="text" name="form_element[values][][value]" class="form-control" placeholder="Value" />
			</div>
			<!-- <div class="col-sm-2">
				<a href="javascript:void(0)" onclick='return addNewKeyValue()' class='btn btn-success' ><span class="fa fa-plus fa-fw"></span> <%= t('button.add') %></a>
			</div> -->
		</div>

		<div class="form-group" id='sample-key-value-pair-radio'>
			<%= f.label " ", :class => 'col-sm-2 control-label' %>
			<div class="col-sm-4">
				<input type="text" name="form_element[values][][label]" class="form-control" placeholder="Label" />
			</div>
			<div class="col-sm-4">
				<input type="text" name="form_element[values][][value]" class="form-control" placeholder="Value" />
			</div>
			<div class="col-sm-2">
				<a href="javascript:void(0)" onclick='return addNewKeyValue("sample-key-value-pair-radio", "sample-key-value-pair-radio")' class='btn btn-success' ><span class="fa fa-plus fa-fw"></span> <%= t('button.add') %></a>
			</div>
		</div>
	</div>



	<div class="form-group">
    <%= f.label "Validation", :class => 'col-sm-2 control-label' %>
    <div class="col-sm-10">
			<% FormElement.validations.each do |k, v|%>
				<div class="checkbox" id="validation-<%=k%>">
					<label><input type="checkbox" name="form_element[field_validation][<%= k%>]" value="<%= v%>"><%= k%></label>
					<%if ['maxDate', 'minDate'].include?(k)%>
						<input type="text" class="datepicker" data-date-format="dd/mm/yyyy" name="form_element[field_validation][<%= k%>]" />
					<%elsif ['maxLength', 'minLength'].include?(k)%>
						<input type="number" name="form_element[field_validation][<%= k%>]" max='500' min='1' />
					<%end%>
				</div>
			<%end%>
    </div>
  </div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-4">
			<%= button_tag(:class => 'btn btn-success') do %>
				<span class="fa fa-save fa-fw"></span> <%= t('button.save') %>
			<% end %>
		</div>

		<div class="col-sm-offset-2 col-sm-4 pull-right">
			<%= link_to 'javascript:void(0)', id: 'cancel-add-new' ,class: 'btn btn-warning' do %>
				<span class="fa fa-remove fa-fw"></span> <%= t('button.cancel') %>
			<% end %>
		</div>

	</div>
<% end %>

<script type="text/javascript">
  $( document ).ready(function() {
		$('.datepicker').datepicker({
    	startDate: '-128y',
			endDate: '-18y'
		});
		// hide fields
		$("#key_value_pair_select").hide();
		$("#key_value_pair_radio").hide();
		$("#validation-maxDate").hide()
		$("#validation-minDate").hide();
		$("#validation-maxLength").show();
		$("#validation-minLength").show();

		// hide element based on component type
		$("#form_element_component_type").change(function(obj){
			console.log($(this).val())
			let selectedFieldType = $(this).val()
			if(selectedFieldType == 'select'){
				$("#key_value_pair_select").show();
				$("#key_value_pair_radio").hide();
				$("#validation-maxDate").hide()
				$("#validation-minDate").hide();
				$("#validation-maxLength").hide();
				$("#validation-minLength").hide();
			}else if (selectedFieldType == 'datetime') {
				$("#key_value_pair_select").hide();
				$("#key_value_pair_radio").hide();
				$("#validation-maxDate").show()
				$("#validation-minDate").show();
				$("#validation-maxLength").hide();
				$("#validation-minLength").hide();
			}else if (selectedFieldType == 'radio') {
				$("#key_value_pair_select").hide();
				$("#key_value_pair_radio").show();
				$("#validation-maxDate").hide();
				$("#validation-minDate").hide();
				$("#validation-maxLength").hide();
				$("#validation-minLength").hide();
			}else{
				// testfield, phone, email
				$("#key_value_pair_select").hide();
				$("#key_value_pair_radio").hide();
				$("#validation-maxDate").hide()
				$("#validation-minDate").hide();
				$("#validation-maxLength").show();
				$("#validation-minLength").show();
			}
		})


	})
</script>
